header a{
    color: white;
    padding: 1rem;
}

header{
    background-color: blue;
    color: white;
    text-align: center;
    font-size: x-large;
}


#hero-img{
    width: 100%;
}

button{
    background-color: blue;
    position: relative;
    height: 60px;
    color: white;

}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: -100px;
    margin-left: 350px;
}

#events{
    padding-top:4em;

}
.side {
    background-color: #45aaf2;
    padding-left: 1em;
    background-color: white;
    padding-right: 1em;
    padding-bottom: 1em;

  }

  
  div {
    display: block;
  }

.side h3 {
    text-align: center;
}
.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
    color:white;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
#menu::before {
	content: "≡";
	font-size: 2rem;
    color: white;
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color:black;
}


.responsive li {
	display: block;
}

.responsive #menu::before {
	content: "X";
}
body .information {
    background-color: black;
}
