header a{
    color: white;
    padding: 1rem;
}

header{
    background-color: blue;
    color: white;
    text-align: center;
    font-size: x-large;
}


#hero-img{
    width: 100%;
}

button{
    background-color: blue;
    position: relative;
    height: 60px;
    color: white;

}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: -100px;
    margin-left: 350px;
}

#events{
    padding-top:4em;

}
