nav {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: none;
    padding: 1rem;
    color: white;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family:Verdana, Tahoma, sans-serif;
    color: #333;
    margin: 0;
    flex:auto;
    grid-template-rows: auto 1fr auto;
}

.linkedin{
   
    margin-top: -120px;
    height: 150%;
    
}

/*.header {
    position:relative;
}*/
nav a {
    color: white;
}

nav svg {
    background-color: white;
    
    
}

header {
    background-color: darkgray;
    color: white;
    height: 100px;
    gap: none;
    position: relative;
    
}

h1 {
    text-align: center;
}

h3 {
   box-shadow: 1px 1px 1px 1px darkgray; 
   width: 300px;
   height: 100px;
   border: 1px solid darkgray;
   align-items: center;
   align-self: auto;
   align-content: center;
   background-color: darkgray;
   color: white;
}

main {
    align-content: center;
    align-self: center;
}
ul {
    width: 260px;
    height: 200px;
    border: 1px solid darkgray;
}