
nav {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 1rem;
    color: white;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family:Verdana, Tahoma, sans-serif;
    color: black;
    margin: 0;
    flex:auto;
    grid-template-rows: auto 1fr auto;
    display: grid;
    align-items: left;

}

.linkedin{
   /*profile picture*/
    margin-top: -120px;
    height: 150%;
    
}

/*.header {
    position:relative;
}*/
nav a {
    color: white;
    padding: .8rem;
    text-decoration: none;
    height: 30px;
}


nav svg {
    background-color: white;
    
    
}

header {
    background-color: #551a8b;
    color: white;
    height: 100px;
    gap: none;
    position: relative;
    
}

h1 {
    text-align: center;
}

h3 {
   background-color: #551a8b;
   color: white;
   margin-top:0;
}

.card {
    display: flex;
    border: 2.5px;
    border-style: solid;
    margin: 10px;
}

#project {
    height: 125px;
 
}

#information {
    height: 150px;
    margin-right: 15%;
  
    
}
/*controls box*/
#learning {
    height: 300px;
    width: 550px; 
}

main{
    margin-left: 10%;
}

footer {
    background-color: #551a8b;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

#mode {
	position: absolute;
	top: 1rem;
	left: 15rem;
	font-size: 3rem;
	cursor: pointer;
}
.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
    color:white;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}

#inside{
    margin-left: -1rem;
    
}
/*.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
*/
#menu::before {
	content: "≡";
	font-size: 2rem;
    color: white;
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color:black;
}


.responsive li {
	display: block;
}

.responsive #menu::before {
	content: "X";
}

