@media only screen and (min-width: 40rem) {
nav{
    flex-direction: row-reverse;
    justify-content: right;
    gap: 3rem;
    color: white;
}

.card{
    display:flex;
    flex-direction: column;
    float: left;
    align-items: stretch;
    width: 380px;
    height: 300px;
    border: 2.5px;
    border-style: solid;

}
html, body{
    overflow-x: hidden;
    max-width: 100%;
}

    
}
